@use '../../styles.scss';

.header {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
      180deg,
      rgba(26, 29, 31, 0) 0%,
      #060707 100%
    ),
    url("../../assets/images/arvid-hoidahl--JvHAHp7zU0-unsplash.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  .image {
    text-align: center;
    animation: styles.$bounce;
    padding: 10px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 300px;
    padding-top: 60px;
    font-size: 1.2rem;
    margin-right: 150px;

    .nav-links {
      display: flex;
      justify-content: right;
      li {
        margin-right: 30px;
        list-style: none;

        a {
          text-decoration: none;
          color: white;
          font-size: 1.2rem;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }

    .logo {
      text-transform: uppercase;
     a{
        text-decoration: none;
      color: white;
     }
    }
  }

  .bio {
    height: 100%;
    margin: 100px 0 0 300px;

    .welcome {
      margin: 20px 0;
    }
    h1 {
      line-height: 6.5rem;
      margin-bottom: 28px;
      font-size: 5rem;
      text-transform: uppercase;
      width: 20px;
    }
    .about {
      max-width: 450px;
      margin-bottom: 30px;
      line-height: 1.8rem;
    }
    .btn {
      a {
        text-decoration: none;
        font-size: 1rem;
        color: black;
      }
      padding: 10px 20px;
      margin-bottom: 40px;
      border: none;
      border-radius: 5px;
      transition: ease-in 0.25s all;
      filter: drop-shadow(0px 13px 20px rgba(127, 128, 127, 0.411));

      &:hover {
        transform: translateY(5px);
      }
    }
  }
}

.what-we-do {
  h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    margin-top: 40px;
  }

  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .card {
      max-width: 300px;
      text-align: center;
      padding: 30px;
      margin: 20px;

      img {
        margin-bottom: 10px;
      }

     .card-btn {
      a {
        text-decoration: none;
        font-size: 1rem;
        color: black;
      }
      padding: 10px 20px;
      margin-top: 10px;
      border: none;
      border-radius: 5px;
      transition: ease-in 0.25s all;
      filter: drop-shadow(0px 13px 20px rgba(127, 128, 127, 0.411));

      &:hover {
        transform: translateY(5px);
      }
    }
    }
  }
}

.about-us {
  padding-left: 300px;
  background-color: #e9e4de;
  display: flex;
  margin-top: 200px;

  .heading {
    padding: 50px 0px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1rem;
  }

  .primary-about {
    max-width: 500px;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 30px;
  }

  .secondary-about {
    max-width: 500px;
  }

  .contact {
    font-weight: bold;
    margin-top: 10px;
    a {
      text-decoration: none;
      color: black;
    }
  }

  img {
    position: relative;
    max-width: 600px;
    top: -100px;
    right: -40px;
    height: 600px;
    object-fit: contain;
  }
}

.works {
  h1 {
    margin-top: 20px;
  }
  margin-left: 300px;
  .work-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    grid-auto-flow: row;
    place-items: center;
    align-content: center;
    grid-gap: 1rem;
    .work-card {
      background-color: rgb(216, 208, 208) (208, 200, 200);
      max-width: 300px;
      .image {
        height: 160px;
        width: 100%;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      a {
        text-decoration: none;
        color: black;
        &:hover {
          color: gray;
        }
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: #e9e4de;
  padding: 10px 5px;

  a {
    text-decoration: none;
  }
}
