<section class="header">
  <!-- <img src="../assets/images/arvid-hoidahl--JvHAHp7zU0-unsplash.jpg" alt="" />  -->

  <nav>
    <h3 class="logo"><a href="#">Michval Architects</a></h3>
    <ul class="nav-links">
      <li><a href="#aboutUs">About Us</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#works">Development</a></li>
    </ul>
  </nav>
  <div class="bio">
    <p class="welcome">Welcome to</p>
    <h1>Michval Architects</h1>
    <p class="about">
      Michval Architects was established in 2020 with the aim of offering
      creative design options to all clients while staying within their
      budgetary and developmental constraints.
    </p>
    <button class="btn"><a href="#aboutUs">About Us</a></button>
  </div>
  <div class="image"><img src="../../assets/icons/Vector.png" alt="" /></div>
</section>

<section class="what-we-do">
  <h1>what we do</h1>
  <div class="card-container">
    <div class="card">
      <img src="../../assets/icons/Group 10.png" alt="icon-1" />
      <h2>2D Drawings</h2>
      <p>
        We care about each and every client and will work our hardest to design
        a safe and exciting home for you and your family.
      </p>
      <button class="card-btn">
        <a href="https://www.instagram.com/michval_architects/">Contact Us</a>
      </button>
    </div>
    <div class="card">
      <img src="../../assets/icons/Group 9.png" alt="icon-1" />
      <h2>3D Modelling</h2>
      <p>
        Clients can walk around a 3D model. Elements
        such as furniture and lights can also be added. The 3D models of today are detailed and highly accurate.
      </p>
      <button class="card-btn">
        <a href="https://www.instagram.com/michval_architects/">Contact Us</a>
      </button>
    </div>
    <div class="card">
      <img src="../../assets/icons/Group 11.png" alt="icon-1" />
      <h2>Realistic Rendering</h2>
      <p>
         They contain real-life elements like sunlight effects and shadows, making them look almost like photographs.
      </p>
      <button class="card-btn">
        <a href="https://www.instagram.com/michval_architects/">Contact Us</a>
      </button>
    </div>
  </div>
</section>

<section class="about-us" id="aboutUs">
  <div class="about">
    <h1 class="heading">About Us.</h1>
    <p class="primary-about">
      The firm assumes that all projects benefit from a collaborative mechanism
      that includes the client, and that fruitful projects are made possible by
      effective management of both participants.
    </p>
    <p class="secondary-about">
      We promote this partnership and serve as a roadmap in the design and
      development process such that each project benefits from each team
      member's involvement and strengths.
    </p>

    <div class="contact" id="contact">
      <p>08156210785</p>
      <a href="https://www.instagram.com/michval_architects/"
        >Reach Us on Instagram</a
      >
    </div>
  </div>

  <img src="../../assets/images/test.png" alt="interior" />
</section>

<section class="works" id="works">
  <h1>Works</h1>
  <div class="work-container">
    <div class="work-card">
      <div class="image">
        <img src="../../assets/images/brown.png" alt="image" />
      </div>
      <h3>
        <a href="https://www.instagram.com/p/CE4broZjvir/">
          Creative's Workspace</a
        >
      </h3>
      <h4><a href="#">Interior</a></h4>
    </div>
    <div class="work-card">
      <div class="image">
        <img src="../../assets/images/bedroom1.png" alt="image" />
      </div>
      <h3>
        <a href="https://www.instagram.com/michval_architects/">Cozy Bedroom</a>
      </h3>
      <h4><a href="#">Interior</a></h4>
    </div>
    <div class="work-card">
      <div class="image">
        <img src="../../assets/images/sitting-room.png" alt="image" />
      </div>
      <h3>
        <a href="https://www.instagram.com/p/CIbMqOJMN2z/">Living Area</a>
      </h3>
      <h4><a href="#">Interior</a></h4>
    </div>
    <div class="work-card">
      <div class="image">
        <img
          src="https://scontent-los2-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/118600407_978232879344753_7285834597805263079_n.jpg?tp=1&_nc_ht=scontent-los2-1.cdninstagram.com&_nc_cat=109&_nc_ohc=NpzsN1Hn8WcAX_W7yc0&edm=AP_V10EBAAAA&ccb=7-4&oh=73696e761a3602d61e5bcb6574ea8cd2&oe=60A658C9&_nc_sid=4f375e"
          alt="image"
        />
      </div>
      <h3>
        <a href="https://www.instagram.com/p/CEodlNpjTAV/">Modern Duplex</a>
      </h3>
      <h4><a href="#">Exterior</a></h4>
    </div>
    <div class="work-card">
      <div class="image">
        <img src="../../assets/images/ultra-modern.png" alt="image" />
      </div>
      <h3>
        <a href="https://www.instagram.com/michval_architects/"
          >Ultra Modern Duplex</a
        >
      </h3>
      <h4><a href="#">Exterior</a></h4>
    </div>
    <div class="work-card">
      <div class="image">
        <img
          src="https://scontent-los2-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/120100297_1044823215950744_7868173936290753788_n.jpg?tp=1&_nc_ht=scontent-los2-1.cdninstagram.com&_nc_cat=108&_nc_ohc=HV_xFnjAcYUAX8CHnD2&edm=AP_V10EBAAAA&ccb=7-4&oh=6682a1ec0775d3639fe4bac70ba40bd3&oe=60A617A8&_nc_sid=4f375e"
          alt="image"
        />
      </div>
      <h3>
        <a href="https://www.instagram.com/p/CFf53_fs46e/">Modern Duplex</a>
      </h3>
      <h4><a href="#">Exterior</a></h4>
    </div>
  </div>
</section>

<footer class="footer">
  <h5>
    Developed by
    <a
      href="https://www.instagram.com/growing_dev/"
      target="_blank"
      rel="noopener noreferrer"
      >Samuel Valentine </a
    >2021
  </h5>
</footer>
