<header class="hero">
      
</header>

<!-- specification -->
<section class="spec">
  <div class="features">
    <div class="quick-spec">
      <div class="bath">
        <h1>2</h1>
        <p>baths</p>
      </div>
      <div class="bath">
        <h1>5</h1>
        <p>rooms</p>
      </div>
      <div class="bath">
        <h1>2</h1>
        <p>baths</p>
      </div>
    </div>
    <p>Celing height</p>
    <p>24hrs light</p>
    <p>Security</p>
    <p>HVAC system</p>
  </div>
  <div class="plan">
    <div class="image-container">
      <img src="../../assets/images/brown.png" alt="image" />
    </div>
  </div>
</section>

<!-- Extra photos -->
<section class="photos">
  <div class="image-box">
    <div class="single-image">
      <img src="../../assets/images/brown.png" alt="photos" />
    </div>
    <div class="single-image">
      <img src="../../assets/images/brown.png" alt="photos" />
    </div>
    <div class="single-image">
      <img src="../../assets/images/brown.png" alt="photos" />
    </div>
    <div class="single-image">
      <img src="../../assets/images/brown.png" alt="photos" />
    </div>
    <div class="single-image">
      <img src="../../assets/images/brown.png" alt="photos" />
    </div>
  </div>
</section>

