<section class="header">
  <!-- <img src="../assets/images/arvid-hoidahl--JvHAHp7zU0-unsplash.jpg" alt="" />  -->
  <nav>
    <h1 class="logo">Michval Architects</h1>
    <ul class="nav-links">
      <li>About Us</li>
      <li>Contact</li>
      <li>Development</li>
    </ul>
  </nav>
  <div class="bio">
    <p class="welcome">Welcome to</p>
    <h1>Michval Architects</h1>
    <p class="about">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, minus
      atque. Eaque numquam fugit dolorem ducimus quasi consequuntur odio
      deserunt, animi magnam corrupti.
    </p>
    <button class="btn">About Us</button>
  </div>
</section>
