/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}
$bounce: bounce 2s linear 0s infinite;
@keyframes bounce {
  0% {
    animation-timing-function: linear;
    opacity: 1;
    transform: translateY(-10px);
  }
  25% {
    animation-timing-function: linear;
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    animation-timing-function: linear;
    opacity: 1;
    transform: translateY(10px);
  }
  75% {
    animation-timing-function: linear;
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(-10px);
  }
}
